# Node dependencies
**/node_modules/
**/dist/
**/build/
.pnpm-store/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Hardhat / Blockchain
**/artifacts/
**/cache/

# System / Logs
**/*.log
**/.env
.DS_Store